h1 {
font-family: arial;font-size: 16;color: green
}
footer {
	color: grey;
	background-color: black;
}
nav a{
	color: blue;
	background-color: grey;
}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background-color: orange;
}