/**********************
GENERAL
**********************/
h1 {
font-family: arial;font-size: 16;color: green
}
footer {
	color: grey;
	background-color: black;
}
nav a, nav a:visited {
	color: blue;
	background-color: #599a68;
}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background-color: orange;
}
#logo {	
	text-align: center;
	margin: 0;
}
a {
	color: #6ab47b;
}

/**********************
HEADER
**********************/
/* green header */
header {
	background: #6ab47b ;
	border-color: #599a68;
}
/* logo text */
h1, h2 {
	color: #fff;
}
/* nav link*/
nav a.selected, nav a:hover {
	color: #32673f;
}
/* site body */
body {
	background-color: #fff;  
	color: #999;
}